@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap');

.App {
    margin: 80px;
    font-family: "Merriweather Sans",sans-serif;
    display: grid;
    grid-template-areas: 'header header header header header' 'nav lib lib lib lib' 'footer footer footer footer footer';
    border-radius: 33px;
    box-shadow: var(--shadow);
}

@media screen and (max-width: 600px) {
    .App {
        grid-template-areas: 'header' 'nav' 'lib' 'footer';
    }
}