.book {
    border-radius: 25px;
    background-color: var(--bg);
    box-shadow: var(--shadow);
}

.book:hover {
    background-color: white;
}

.book:hover button {
    background-color: white;
}

/* MENU */

.book-menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    border-radius: 20px 20px 0 0;
    background-color: var(--dark-bg);
    padding: 16px;
}

.book-read > .book-menu{
    background-color: var(--darker-bg);
}

.book-read > .book-menu > button{
    color: var(--icons-dark);
}


.book-menu > button {
    width: 35px;
    height: 35px;
    border-style: none;
    border-radius: 35px;
    background-color: var(--bg);
    margin: 0 10px 0 0;
    cursor: pointer;
    color: var(--icons);
}

.button-menu > button * {
    cursor: pointer;
}

.book-menu > button:last-child {
    margin: 0;
}

/* INFO */

.book-info {
    color: var(--txt);
    margin: 10px;
    padding: 8px 16px 16px;
}

.book-info > input {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.book-info > div:last-child {
    margin-bottom: 16px;
}

input {
    border-style: none;
    width: 100%;
    background-color: var(--dark-bg);
    font-size: 1rem;
    font-family: "Merriweather Sans",sans-serif;
    color: var(--txt);
}

input[disabled] {
    background-color: transparent;
}

